<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="au.edu.uow.fyp01.abas">

  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".module.auth.LoginActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="Main Activity"
      android:name=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="Sign Up"
      android:name=".module.auth.SignUpActivity"/>
    <activity
      android:label="Search Beacon"
      android:name=".module.bluetooth.SearchBeaconActivity"/>
    <activity
      android:label="Class List"
      android:name=".module.record.ClassListActivity"/>
    <activity
      android:label="Student List"
      android:name=".module.record.StudentListActivity"/>
    <activity
      android:label="Student Record"
      android:name=".module.record.RecordActivity"/>
    <activity
      android:label="Grade Overview"
      android:name=".module.record.RecordOverviewActivity"/>
    <activity
      android:label="Student Comment"
      android:name=".module.record.CommentListActivity"/>
    <activity
      android:label="Share File"
      android:name=".module.file.FileSharingHome"/>
    <activity
      android:label="Share File"
      android:name=".module.file.FileSharingAdd"/>
    <activity
      android:label="Download File"
      android:name=".module.file.FileDownloadHome"/>
    <activity
      android:label="Class List"
      android:name=".module.helper.AdminClassListActivity"/>
    <activity
      android:label="Student List"
      android:name=".module.helper.AdminStudentListActivity"/>
    <activity
      android:label="Add New Student"
      android:name=".module.helper.AdminAddStudentActivity"/>
    <activity
      android:label="Student Detail"
      android:name=".module.helper.AdminStudentDetailActivity"/>
    <activity
      android:label="Manage Student Subject"
      android:name=".module.helper.AdminStudentSubjectListActivity"/>
    <activity
      android:label="Admin Helper"
      android:name=".module.helper.AdminManageMenu"/>
    <activity
      android:label="Grade History"
      android:name=".module.record.RecordGradeHistoryActivity"/>
    <activity
      android:label="Add New Grade"
      android:name=".module.record.RecordAddNewGradeActivity"/>
    <activity
      android:label="Edit Grade"
      android:name=".module.record.RecordEditGradeActivity"/>
    <activity
      android:label="Subject List"
      android:name=".module.helper.AdminSubjectsListActivity"/>
    <activity
      android:label="Manage Class Subject"
      android:name=".module.helper.AdminManageClassSubjectActivity"/>
    <activity
      android:label="Class Option"
      android:name=".module.helper.AdminClassOptionsActivity"/>
    <activity
      android:name=".module.bluetooth.PopupSearchBeaconActivity"
      android:theme="@style/AppTheme.PopupTheme"/>
    <activity
      android:label="Setting"
      android:name=".module.setting.ClassroomHomeSetting"/>
    <activity
      android:label="Subject Setting"
      android:name=".module.helper.AdminSubjectSettingActivity"/>
    <activity
      android:label="List of School"
      android:name=".module.setting.SchoolListActivity"/>
    <activity
      android:label="List of Request"
      android:name=".module.helper.AdminManageRequestActivity"/>
    <activity android:name=".module.record.RecordOverviewActivityClassroomMatch"/>
    <activity
      android:label="List of Staff Member"
      android:name=".module.helper.AdminManageMenuStaff"/>
    <activity android:name=".module.helper.AdminManageMenuStaffDialog"/>
    <activity
      android:label="Setting"
      android:name=".module.setting.SettingsBufferPage"/>
  </application>

</manifest>