<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="au.edu.uow.fyp01.abas">

  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".LoginActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="Main Activity"
      android:name=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="Sign Up"
      android:name=".SignUpActivity"/>
    <activity
      android:label="Search Beacon"
      android:name=".activity.SearchBeaconActivity"/>
    <activity
      android:label="Class List"
      android:name=".activity.ClassListActivity"/>
    <activity
      android:label="Student List"
      android:name=".activity.StudentListActivity"/>
    <activity
      android:label="Student Record"
      android:name=".activity.RecordActivity"/>
    <activity
      android:label="Grade Overview"
      android:name=".activity.RecordOverviewActivity"/>
    <activity
      android:label="Student Comment"
      android:name=".activity.CommentListActivity"/>
    <activity
      android:label="Activity.FileSharingHome"
      android:name=".activity.FileSharingHome"/>
    <activity
      android:label="Share File"
      android:name=".activity.FileSharingAdd"/>
    <activity
      android:label="Download File"
      android:name=".activity.FileDownloadHome"/>
    <activity
      android:label="Class List"
      android:name=".activity.AdminClassListActivity"/>
    <activity
      android:label="Student List"
      android:name=".activity.AdminStudentListActivity"/>
    <activity
      android:label="Add New Student"
      android:name=".activity.AdminAddStudentActivity"/>
    <activity
      android:label="Student Detail"
      android:name=".activity.AdminStudentDetailsActivity"/>
    <activity
      android:label="Activity.AdminStudentSubjectListActivity"
      android:name=".activity.AdminStudentSubjectListActivity"/>
    <activity
      android:label="Admin Helper"
      android:name=".activity.AdminManageMenu"/>
    <activity
      android:label="Grade History"
      android:name=".activity.RecordGradeHistoryActivity"/>
    <activity
      android:label="Add New Grade"
      android:name=".activity.RecordAddNewGradeActivity"/>
    <activity
      android:label="Edit Grade"
      android:name=".activity.RecordEditGradeActivity"/>
    <activity
      android:label="Subject List"
      android:name=".activity.AdminSubjectsListActivity"/>
    <activity
      android:label="Manage Class Subject"
      android:name=".activity.AdminManageClassSubjectActivity"/>
    <activity
      android:label="Class Option"
      android:name=".activity.AdminClassOptionsActivity"/>
    <activity
      android:name=".activity.PopupSearchBeaconActivity"
      android:theme="@style/AppTheme.PopupTheme"/>
    <activity
      android:label="Setting"
      android:name=".activity.ClassroomHomeSetting"/>
    <activity android:name=".activity.AdminAddUserActivity"/>
    <activity
      android:label="Subject Setting"
      android:name=".activity.AdminSubjectSettingActivity"/>
    <activity
      android:label="List of School"
      android:name=".activity.SchoolListActivity"/>
    <activity
      android:label="List of Request"
      android:name=".activity.AdminManageRequestsActivity"/>
    <activity android:name=".activity.RecordOverviewActivityClassroomMatch"/>
    <activity
      android:label="List of Staff Member"
      android:name=".activity.AdminManageMenuStaff"/>
    <activity android:name=".activity.AdminManageMenuStaffDialog"/>
    <activity
      android:label="Setting"
      android:name=".activity.SettingsBufferPage"/>
  </application>

</manifest>